body {
	margin: auto;
	background-color: #242943;
	color: #fff;
	font-family: font-family: 'Roboto', sans-serif;
}

header {
	position: fixed;
	width: 100%;
	padding-top: 1.5rem;
	z-index: 999;/*
	background-color: #fff;*/
	opacity: 0.5;
}

header, 
section {
font-size: 1.6rem;
}

a {
	color: #fff;
	text-decoration: none;
}

.col-md-4,
.col-md-8 {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: -20px;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.logo {
	text-transform: uppercase;
} 

.logo span {
	background: #fff;
	color: #242943;
	padding: 0.5rem;
	margin-right: 0.5rem;
	letter-spacing: 0.3rem;
}

.logo p {
	letter-spacing: 0.3rem;
}

.intro {
	position: relative;
	background: url('../images/banner.jpg');
}

.fade-dark {
/*	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;*/
	width: 100%;
	height: 100%;
	background-color: #242943;
	opacity: 0.85;
	padding-top: 4rem;
}

.greetings {
	padding: 7rem 0;
}

.greetings__title {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 0.1rem solid #fff;
}

.greetings__title h1 {
	margin-bottom: 0;
	font-weight: bold;
}

.greetings  {
	padding-top: 2rem;
	text-transform: uppercase;
	font-size: 1rem;
}

.flat-button {
	color: #fff;
	border-color: #fff;
	border-radius: 0;

}

.flat-button:hover{
	color: #6fc3df;
	border-color: #6fc3df;
}

.container-fluid__2 {
	padding-right: 0;
	padding-left: 0;
}

.features__module {
	height: 400px;
	text-align: center;
	padding-top: 40px;
}

.features__module_aqua {
	background: #6fc3df;
	opacity: 0.85;
	background: url('../images/pic01.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.features__module_aqua:hover {
	background-color: #8d82c4;
	opacity: 0.8;
	transition-timing-function: linear;
	transition-duration: 5s;
}

.features__module_purple {
	background-color: #8d82c4;
	opacity: 0.85;
	background: url('../images/pic02.jpg');
}

.features__module_red {
	background: #ec8d81;
	background: url('../images/pic03.jpg');	
}

.features__module_orange {

	background: #e7b788;
	background: url('../images/pic04.jpg');
}

.features__module_blue {
	background: #8ea9e8;
	background: url('../images/pic05.jpg');

}

.features__module_green {
	background-color: #87c5a4;
	background: url('../images/pic06.jpg');
}
.module__content h1 {
	text-align: center;
	padding-left: 50px;
	padding-top: 50px;
}

.module__content p {
	padding-left: 30px;
}

.container__3 {
	position: relative;
	background-color: #242943;
}

.container__3 h1 {

}